body {
	margin: 0;

	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-family: Sans-Serif;
	text-align: center;
}

img {
	max-width: 100%;
}

#container {
	margin: 10px;
	max-width: 400px;
}

#request {
	visibility: hidden;
	background: #e5731f;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	font-size: medium;
	color: white;
	cursor: pointer;
}

#request:hover {
	background: #894310;
}
